.categorySearchWrap{
    display: flex;
    align-items: end;
    gap: 16px;
    padding: 23px 22px;
    label{
        display: inline-block;
        color:var(--textBlueGray);
        margin-bottom: 6px;
        line-height: 21px;
    }
    button{
        padding: 2px 16px;
        border-radius: 8px;
        font-size: 1.12em;
        background-color: var(--mainBgColor);
        border: 1px solid var(--mainBgColor);
        color:var(--btnTextColor);
        line-height: 27px;
        height: 48px;
        cursor: pointer;
        text-align: center;
    }
    .searchBlock{
        width: 100%;
        &.categroy{
            max-width: 222px;
        }
        &.subtitle{
            max-width: 248px;
        }
    }
    @media screen and (max-width:1024px) {
        flex-direction: column;
        align-items: baseline;
        button{
            width: 100%;
        }
        .searchBlock{
            width: 100%;
            &.categroy,&.subtitle{
                max-width: none;
            }
           
        }
    }
}