.selectorWrap{
    border: 1px solid var(--selectorBorder);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    select{
        border:0;
        padding: 10.5px 25px 10.5px 16px;
        color: inherit;
        line-height: 27px;
        font-size: 1.12em;
    }
    &.grayBorder{
        background-color: var(--white);
        border-color: var(--selectorBorderGray);
        &::after{
            background-color: var(--white);
        }
    }
    &.lightText{
        color:var(--textBlueGray);
    }
    &::after{
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        top:0;
        margin: auto;
        width: 25px;
        height:100%px;
        background-image: url('../../assets/img/arrowDown.svg');
        background-position: center;
        background-repeat: no-repeat;
    }
}