.collectionItemWrap{
    padding: 18px 15px;
    border: 1px solid var(--collectionBorder);
    .itemInfo{
        display: grid;
        grid-template-columns:13px 1fr 49px;
        grid-template-areas:'a b c';
        gap: 22px;
        margin-bottom: 13.34px;
        .collectionStatus{
            grid-area: a;
        }
        p{
            grid-area: b;
            font-weight: 500;
            line-height: 24px;
            color:var(--textLightBlack);
        }
        .news{
            grid-area: c;
            line-height: 18px;
            font-size: 0.8em;
            font-weight: 400;
            padding: 2px 8px;
            border-radius: 38px;
            background-color: var(--newsBg);
        }
    }
    .itemStatus{
        flex-wrap: wrap;
        justify-content: space-between;
        .itemList{
            gap: 25.48px;
            li{
                display: flex;
                gap:7px;
            }
        }
        span{
            font-weight: 500;
            font-size: 0.8em;
            color: var(--textBlueGray);
            line-height: 18px;
        }
    }
}