.header{
    grid-area: header;
}
.headerContainer{
    display:flex;
    align-items: center;
    width:100%;
    padding: 33px 25px;
    .menuBtn{
        display: inline-block;
        width:32px;
        height:32px;
        background-image: url('../../assets/img/menuBar.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20.56px 16px;
        margin-right:19px;
        cursor: pointer;
    }
    .logo{
        width:100%;
        max-width:164px;
    }
    @media (max-width: 1024px) {
        background-color: var(--white);
    }
}
.userBlock{
    justify-content: space-between;
    gap:53px;
    .userAvatar{
        width:50px;
        height:50px;
        border-radius: 25%;
        overflow: hidden;
        img{
            width:100%
        }
    }
}
.weatherBlock{
    span{
        font-weight: 600;
    }
}
.searchBlock{
    gap:8px;
}