.header{
    grid-area: header;
    @media screen and (max-width:1024px){
        position: fixed;
        z-index: 2;
        width: 100%;
    }
}
.headerContainer{
    display:flex;
    align-items: center;
    width:100%;
    padding: 33px 25px;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
        background-color: var(--white);
    }
}

.menuBlock{
    gap:19px;
    max-width: 269px;
    .menuBtn{
        display: inline-block;
        width:32px;
        height:32px;
        background-image: url('../../assets/img/menuBar.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20.56px 16px;
        cursor: pointer;
    }
    .logo{
        width:100%;
        max-width:164px;
    }
    @media screen and (max-width: 1024px) {
        .logo{
            max-width:93px;
        }
    }
}
.infoBlock{
    flex: 1;
    gap:5%;
    @media screen and (max-width: 1024px) {
        flex: none;
    }
}
.infoBlock,.userBlock{
    justify-content: space-between;
}
.weatherBlock{
    max-width: 295px;
    flex-wrap: wrap;
    span{
        font-weight: 600;
        font-size: 1.12em;
        gap: 8px;
    }
}
.searchBlock{
    max-width: 354px;
    gap:8px;
    .searchType{
        max-width: 101px;
    }
}
.userBlock{
    max-width: 212px;
    flex: auto;
    gap: 24px;
    span{
      max-width:28px;
    }
    .userAvatar{
        overflow: hidden;
        position: relative;
        &:after{
            content: "";
            display: inline-block;
            width:10px;
            height: 10px;
            background-image: url('../../assets/img/arrowDown.svg');
            background-position: center;
            background-repeat: no-repeat;
            margin-left: 8px;
        }
    }
    img{
        max-width: 50px;
        width:100%;
        border-radius: 25%;
    }
}
