
:root{
  --mainBg:#F2F2F7;
  --lightBlack:#11263C;
  --white:#FFFFFF;
}
@font-face {
  font-family:'poppins';
  src: url('../assets/fontsFace/Poppins-Regular.ttf');
}
body,html{
  background-color: var(--mainBg);
}
body {
  font-family: poppins, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: var(--lightBlack);
}

