
:root{
  --mainBgColor:#F2F2F7;
  --textLightBlack:#11263C;
  --textBlack:#121212;
  --textBlueGray:#737791;
  --btnTextColor:#32395F;
  --white:#FFFFFF;
  --selectorBorder:#F2F2F7;
  --selectorBorderGray:#737791;
  --sideBarActive:#D8DDEB;
  --collectionBorder:#D5D5DA;
  --collectionBorder_moblie:#E3E3E3;
  --newsBg:#EDEDED;
  --sideBarChildLink:#565867;
}
@font-face {
  font-family:'poppins';
  src: url('../assets/fontsFace/Poppins-Regular.ttf');
}
@font-face {
  font-family:'NotoSansSC';
  src: url('../assets/fontsFace/NotoSansSC-Regular.otf');
}
body,html{
  background-color: var(--mainBgColor);
  height:100vh;
}
body {
  font-family: poppins, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: var(--textLightBlack);
    font-size: 14px;
}
#root{
  height: 100%;
}
.whiteBg{
  background-color: var(--white);
}
.b-30{
  width:30%;
}
.b-70{
  width: 70%;
}
.b-50{
  width:50%;
}
.gridContent{
  display: grid;
  height: 100%;
  grid-template-areas:
  "header header"
  "sidebar main"
  "sidebar main";
  grid-template-columns: minmax(max-content, auto) 1fr;
  grid-template-rows: 103px 1fr;
}
.flexCenter{
  display: flex;
  align-items: center;
}
.flex1{
  flex:1;
}
.mobileShow{
  display: none;
}
@media screen and (max-width: 1024px) {
  /* .gridContent{
     display: block;
  } */
  .mobileShow{
      display: block;
  }
  .moblieHide{
    display: none;
  }
}

