$maxWidth:294px;
.sidebar{
    grid-area: sidebar;
    width: 100%;
    overflow: hidden;
    transition: all 1s;
    max-width: 60px;
    &.active{
        max-width: $maxWidth;
    }
    .dropDownList{
        width:$maxWidth;
        li{
            // max-height: 57px;
            overflow: hidden;
            &.active{
                max-height: auto;
                .listInfo{
                    background-color:var(--sideBarActive);
                }
            }
        }
       .listInfo{
         width: 100%;
         display:flex;
         align-items: center;
         justify-content: space-between;
         padding: 18px 18px 18px 30px;
         cursor: pointer;
         &:hover{
            background-color:var(--sideBarActive);
         }
         &:after{
            content:"";
            display:inline-block;
            width: 10px;
            height:10px;
            background-image: url('../../assets/img/arrowDown.svg');
            background-position: center;
            background-repeat: no-repeat;
        }
       }
       .infoBox{
         display: flex;
         gap:0 13px;
         align-items: flex-start;
         span{
            display:inline-block;
            max-width: 185px;
            font-weight: 600;
            font-size: 1.14em;
         }
        }
    }
}