.collectionWrap{
  .collectionInfo{
    padding: 28px 0 14px;
    justify-content: space-between;
  }
  .total,.title{
    font-weight: 600;
    font-size: 1.14em;
    line-height: 24px;
  }
  .title{
    color: var(--textLightBlack);
  }
  .total{
    color: var(--textBlueGray);
    padding: 0 5px;
    border-right: 1px solid var(--textLightBlack);
    margin-right: 25px;
  }
  .pageSwitcher{
    gap: 21px;
    .pageList{
        width: 38px;
        height: 32px;
        border: 0.666667px solid var(--mainBgColor);
        border-radius: 5.33333px;
    }
    .pageSelector{
        select{
            padding: 5.5px 9.33px;
            line-height: 21px;
            position: relative;
            z-index: 1;
        }
        &::after{
            width: 10px;
            background-size: contain;
            right: 5px;
        }
    }
  }
  .collectionContent{
    height: 40vw;
    overflow-y: scroll;
    min-height: 552px;
  }
  @media screen and (max-width:1024px){
    background-color: #fff;
    margin-top: 20px;
    .title{
      padding: 0 10px;
    }
    .collectionInfo{
       padding: 17px 0 0;
    }
    .collectionContent{
      overflow-y: inherit;
    }
  }
}